// ==================================================================
// TFM Layouts / Page
//

// TFM logo and menu
.tfm-app-header {
  margin-top: 48px;
  margin-bottom: 66px;
}

.tfm-app-content {
  // padding-bottom: 5rem;
}

.tfm-logo {
  text-align: center;
}

// 
.tfm-page {
  padding: 0 2rem;
  max-width: 666px;
  margin: 0 auto;
}

.tfm-page-header {
  text-align: center;
}