// ==================================================================
// Layout
//
// Usage: 
// @extend layout-[width]
//
// If margins needed add:
// @extend layout-m


.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr;
  &.two-columns {
    @include desktop {
      grid-template-columns: 1fr 1fr;
      max-width: 920px;
      & > div:first-of-type {
        @include fp(padding-right, 20, 40);
      }
      & > div:last-of-type {
        @include fp(padding-left, 20, 40);
      }
    }
  }
}

.content-m {
  max-width: 800px;
  img {
    cursor: zoom-in;
    padding: 13px;
  }
  &.two-columns {
    @include desktop {
      max-width: 800px;
      img {
        &:first-of-type {
          grid-column: 1/3;
        }
      }
    }
  }
}

// .layout {
//   display: block;
//   margin: 0 auto;
//   padding: 0;
// }

// Sizes
//

// Images and backgrounds
// .layout-100 {
//   @extend .layout;
//   width: 100%;
// }

// Page content
// .layout-66 {
//   @extend .layout;
//   @include fp(width, 280, 768);
// }

// Grid and inside columns
// .layout-50 {
//   @extend .layout;
//   width: 50%;
// }
