<div class="tfm-form">
  <!-- <hr> -->
  <!-- <h3>Initiation Form</h3> -->
  <form id="tfm-join" action method="POST">
    
    <div class="form-group">
      <input type="text" onblur="validateEmail(this);" required="required" class="form-control" id="contact-email" name="entry.1097449195" aria-describedby="contact-email-error">
       <label class="control-label" for="contact-email">Email address</label><i class="bar"></i>
      <!-- <label class="control-label" for="input">Textfield</label><i class="bar"></i> -->
    </div>

    <!-- <div class="form-group"> -->
      <!-- <input type="text" required="required" class="form-control" id="contact-telegram" name="entry.311722560" aria-describedby="contact-telegram-error"> -->
       <!-- <label class="control-label" for="contact-telegram">Telegram @name</label><i class="bar"></i> -->
      <!-- <label class="control-label" for="input">Textfield</label><i class="bar"></i> -->
    <!-- </div> -->

    <button type="submit" class="fm-btn tfm-fill-mute" id="contact-form-submit">Request Invite</button>

  </form>
</div>
